.layout {
  --macro-grid-padding-inline: 1rem;
  --macro-grid-breakout-column-width: 20rem;
  --macro-grid-content-max-width: 50rem;

  display: grid;
  grid-template-columns:
    [full-width-start breakout-left-start] minmax(
      var(--macro-grid-padding-inline),
      1fr
    )
    [breakout-start breakout-right-start] minmax(
      0,
      var(--macro-grid-breakout-column-width)
    )
    [content-start] min(
      100% - 2 * var(--macro-grid-padding-inline),
      var(--macro-grid-content-max-width)
    )
    [content-end]
    minmax(0, var(--macro-grid-breakout-column-width))
    [breakout-end breakout-left-end]
    minmax(var(--macro-grid-padding-inline), 1fr)
    [full-width-end breakout-right-end];
  row-gap: 2rem;
  padding-block: 1rem 1rem;

  @media (width >= 768px) {
    --macro-grid-padding-inline: 1.5rem;

    padding-block: 1.5rem 5rem;
  }

  @media (width >= 1024px) {
    --macro-grid-padding-inline: 2rem;

    row-gap: 3rem;
    padding-block: 3rem 5rem;
  }
}

.fallback {
  grid-column: breakout-start / breakout-end;
}
