.logo {
  height: 1.75rem;
}

.background {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.icon-sm {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-md {
  width: 5rem;
  height: 3.75rem;
}

.icon-bg {
  width: 7.5rem;
  height: 7.5rem;
}

.icon-xsm {
  width: 1.5rem;
  height: 1.5rem;
}
