.popover-content {
  display: grid;
  background-color: var(--bgc-search-suggestion);
  z-index: 50;
  width: var(--radix-popover-trigger-width);
  border-radius: calc(var(--border-radius-6) * 1px);
  border: 1px solid currentColor;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  outline: none;
  transform-origin: center;
}

/* Animation and transition states */
.popover-content[data-state="open"] {
  animation:
    popoverFadeIn 200ms ease-out,
    popoverZoomIn 200ms ease-out;
}
.popover-content[data-state="closed"] {
  animation:
    popoverFadeOut 200ms ease-in,
    popoverZoomOut 200ms ease-in;
}

.popover-content[data-side="top"] {
  animation: slideInFromBottom 200ms ease-out;
}
.popover-content[data-side="bottom"] {
  animation: slideInFromTop 200ms ease-out;
}
.popover-content[data-side="left"] {
  animation: slideInFromRight 200ms ease-out;
}
.popover-content[data-side="right"] {
  animation: slideInFromLeft 200ms ease-out;
}

/* Keyframes */
@keyframes popoverFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popoverFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes popoverZoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes popoverZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
