.header {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: breakout-start / breakout-end;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.header-bottom {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 2 / 3;
  grid-column: content-start / content-end;
}

.button-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heading {
  padding-block: 3rem 0.75rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-7);
  line-height: 1.2;
  text-align: center;

  @media screen and (width >= 768px) {
    padding-block: 3rem;
  }

  @media screen and (width >= 1024px) {
    padding-block: 4rem;
  }
}

.bookmark {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
