.layout {
  --index: 0;

  padding: 1.25rem;
  border-radius: calc(var(--border-radius-6) * 1px);
  background-color: var(--bgc-current-card);
  animation: 1s ease-out calc(50ms * var(--index)) global(slideIn);

  h3 {
    margin-bottom: 1.5rem;
    font-size: var(--fs-3);
    color: var(--c-description-current-card);
  }

  span {
    font-weight: var(--fw-light);
    font-size: var(--fs-6);
    color: var(--c-value-current-card);
  }
}
