.layout {
  --animation-duration: 1.5s;

  display: grid;
  grid-column: breakout-start / breakout-end;
  grid-template-areas: "current" "daily" "hourly";
  gap: 2rem;

  @media screen and (width >= 1024px) {
    grid-template-areas: "current current hourly" "current current hourly" "daily daily hourly";
    grid-template-columns: repeat(3, 1fr);
  }
}

.current {
  display: grid;
  grid-template-rows: 15rem auto;
  grid-area: current;
  gap: 2rem;
  animation: var(--animation-duration) linear infinite alternate global(loading);

  @media screen and (width >= 768px) {
    grid-template-rows: minmax(20rem, auto);
  }
}

.current-top {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--bgc-current-card);
  border-radius: calc(var(--border-radius-8) * 1px);

  & p {
    font-size: var(--fs-3);

    &:after {
      content: "";
      animation: var(--animation-duration) steps(1, jump-start) infinite
        global(typing);
    }
  }
}

.current-bottom {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 7.5rem;

  > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem;
    border-radius: calc(var(--border-radius-6) * 1px);
    background-color: var(--bgc-current-card);
  }
}

.daily {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: daily;

  animation: var(--animation-duration) linear infinite alternate global(loading);

  > h2 {
    margin-bottom: 1.25rem;
  }

  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-auto-rows: 10rem;
    gap: 1rem;

    > li {
      border-radius: calc(var(--border-radius-8) * 1px);
      background-color: var(--bgc-current-card);
    }
  }
}

.hourly {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
  grid-area: hourly;
  padding: 1.5rem;
  border-radius: calc(var(--border-radius-8) * 1px);
  background-color: var(--bgc-current-card);
  animation: var(--animation-duration) linear infinite alternate global(loading);
}

.hourly-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-box {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: calc(var(--border-radius-4) * 1px);
  background-color: var(--bgc-dropdown-item);

  > img {
    width: 1rem;
    height: 1rem;
  }
}

.hourly-bottom {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
  grid-auto-flow: row;
  gap: 1rem;
}

.list-item {
  min-height: 3.75rem;
  border-radius: calc(var(--border-radius-4) * 1px);
  background-color: var(--bgc-hourly-card);
}
