:root {
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-13: 3.25rem;
  --spacing-14: 3.5rem;
  --spacing-15: 3.75rem;
  --spacing-16: 4rem;
  --spacing-17: 4.25rem;
  --spacing-18: 4.5rem;
  --spacing-19: 4.75rem;
  --spacing-20: 5rem;

  --border-radius-0: 0;
  --border-radius-1: 2;
  --border-radius-2: 4;
  --border-radius-3: 6;
  --border-radius-4: 8;
  --border-radius-5: 10;
  --border-radius-6: 12;
  --border-radius-7: 16;
  --border-radius-8: 20;
  --border-radius-9: 24;
  --border-radius-10: 999;

  --box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
