*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-root);
  font-weight: var(--fw-root);
  font-size: var(--fs-root);
  color: var(--c-root);
  overflow: auto;
}

body {
  flex-grow: 1;
  /* spec recommends settings background stuff on body */
  background-color: var(--bgc-root);
}

a,
button,
input,
label {
  cursor: pointer;
}

a {
  display: inline-block;
  font-weight: var(--fw-link);
  text-decoration: none;

  &:hover {
    text-decoration: revert;
  }
}

button {
  border: none;
  font-weight: var(--fw-button);
  background-color: transparent;
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 0.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: var(--fw-heading);
  text-wrap: balance;
}

p,
figcaption {
  max-width: 65ch;
}

img {
  display: block;
  max-inline-size: 100%;
}

ol,
ul,
li {
  list-style: none;
}

textarea {
  width: 100%;
  min-height: 10em;
  padding: 0.2em;
  cursor: text;
  background-color: #ddd;
  overflow: auto;
}

/* root styles */
#root {
  display: grid;
  height: 100vh;
  min-width: 20rem;
  line-height: 1.2;
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
